<%= render 'layouts/admin_nav' %>
<%= form_for(@magazine, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @magazine.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@magazine.errors.count, "error") %> prohibited this magazine from being saved:</h4>

      <ul>
      <% @magazine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.label :name, :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>
    <div class="form-group">
      <%= f.label :start_date, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :start_date, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :end_date, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.date_select :end_date, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :title, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :title, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :category, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :bar_code, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :bar_code, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :month, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :month, [["January", 1], ["February",2], ["March", 3], ["April", 4], ["May", 5], ["June", 6], ["July", 7], ["August", 8], ["September", 9], ["October", 10], ["November", 11], ["December", 12]] %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :year, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.select :year, (Time.zone.now.year - 10)..(Time.zone.now.year + 10) , :class => "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image ,'Cover Page', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.file_field :image, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :status ,'Status', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.check_box :status, :style => "width: 20px; height: 20px;", :class => "form-control" %>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'Cancel', all_magazine_path,:class => "btn btn-default" %>
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
