<%= render 'layouts/admin_nav' %>
<div class="page-header">
  <%= link_to merchants_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
  <% end %>
     <h1><%=@banners_merchants.company_name%> Banner</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Banner name</th>
      <th>Image</th>
      <th>  </th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @merchant_banners) do |banner| %>
        <td><%= banner.name %></td>
        <td><%= banner.image %></td>
        <td class="text-center">
          <%= link_to status_link_text(banner) , toggle_approve_banner_path(banner), :remote => true, :id => "status_link_#{banner.id}", :class => " btn btn-default "  %>
        </td>
    <% end %>
    </tbody>
  </table>
</div>
